
/* eslint-disable */
/* @tailwind base;
   @tailwind components;
   @tailwind utilities; */




@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap');


/* @tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .bloco {
    @apply relative overflow-hidden inline-block;
  }

  .text-up {
    @apply block w-full transition-transform duration-300   ease-in-out group-hover:-translate-y-full;
  }

  .text-bt {
    @apply block absolute top-full left-0 right-0 w-full  transition-transform duration-300 ease-in-out group-hover:-translate-y-full;
  }

  .bloco.text-end .text-up,
  .bloco.text-end .text-bt {
    @apply text-right;
  }
}


body {
    margin: 0;
    padding: 0;
    background-color: #341539;
}

* {
  padding: 0;
  margin: 0;
 }
